fastapi
uvicorn
langchain
langchain-groq
pydantic
pydantic-settings
langchain-postgres
psycopg2-binary
sqlalchemy
python-multipart
python-dotenv
pdfplumber
tiktoken
duckduckgo-search
langchain-community
langchain-huggingface
sentence-transformers
huggingface_hub
pytesseract
pdf2image
beautifulsoup4
requests
